# Filtragem inicial de dados regionais do Global Health Data

#### Fonte dos dados: Latin American Country HIV Mortality Geospatial Estimates by Age and Sex 2000-2017
#### http://ghdx.healthdata.org/record/ihme-data/latin-america-hiv-mortality-geospatial-estimates-2000-2017

In [12]:
#tem que alterar isso pra ser válido pros datasets dos outros anos ( 2009 até 2017 )
import pandas as pd

df = pd.read_csv("data/Regionais 2009-2017/IHME_LA_HIV_MORT_2000_2017_RATE_ADMIN_2_2009_Y2020M08D13.CSV",
                usecols=['ADM0_NAME','ADM1_NAME','ADM2_NAME','year','age_group_name','sex','mean'])

df = df.rename(columns={'ADM0_NAME':'country','ADM1_NAME':'state','ADM2_NAME':'city','age_group_name':'age_group'})
print(df.shape)

df = df[df['country']=="Brazil"]
print(df.shape)

(553698, 7)
(317490, 7)

### Qual foi a localidade com a maior média de mortalidade de mulheres por HIV?

In [13]:
#print(df.drop_duplicates('state').head(5))

#Ainda tem que somar os valores por idade em cada cidade para confirmar

women = df[df['sex'] == 'Women']

print(women.loc[ (women['mean'].idxmax()) ] )

country                 Brazil
state        Rio Grande do Sul
city                 Tramandai
year                      2009
age_group             35 to 39
sex                      Women
mean                   73.4015
Name: 288328, dtype: object

### Qual foi a localidade com a maior média de mortalidade de homens por HIV?

In [14]:
#Ainda precisa fazer a mesma alteração do anterior

men = df[df['sex'] == 'Men']

print(men.loc[ (men['mean'].idxmax()) ])

country                 Brazil
state        Rio Grande do Sul
city                 Tramandai
year                      2009
age_group             35 to 39
sex                        Men
mean                   139.714
Name: 288327, dtype: object

### Quais foram as maiores taxas de mortalidade por HIV para cada faixa etária?

In [15]:
#Se não for analisar isto por localidade, ainda seria preciso somar TODAS as faixas etárias e remover as cidades

both_sexes = df[df['sex'] == 'Both']

both_sexes.sort_values('mean', ascending=False).drop_duplicates(['age_group'])

,country,state,city,year,age_group,sex,mean
288329,Brazil,Rio Grande do Sul,Tramandai,2009,35 to 39,Both,105.422154
252878,Brazil,Santa Catarina,Itajai,2009,40 to 44,Both,100.392315
252881,Brazil,Santa Catarina,Itajai,2009,45 to 49,Both,84.224716
288326,Brazil,Rio Grande do Sul,Tramandai,2009,30 to 34,Both,82.699582
252884,Brazil,Santa Catarina,Itajai,2009,50 to 54,Both,65.361498
252887,Brazil,Santa Catarina,Itajai,2009,55 to 59,Both,50.204070
288323,Brazil,Rio Grande do Sul,Tramandai,2009,25 to 29,Both,45.239039
252890,Brazil,Santa Catarina,Itajai,2009,60 to 64,Both,43.906214
288359,Brazil,Rio Grande do Sul,Tramandai,2009,All ages,Both,39.420787
288347,Brazil,Rio Grande do Sul,Tramandai,2009,65 to 69,Both,37.688985
288362,Brazil,Rio Grande do Sul,Tramandai,2009,Age-standardized,Both,37.627869
117764,Brazil,Bahia,Madre de Deus,2009,0 to 4,Both,17.301066
288320,Brazil,Rio Grande do Sul,Tramandai,2009,20 to 24,Both,15.192055
252896,Brazil,Santa Catarina,Itajai,2009,70 to 74,Both,11.004259
288353,Brazil,Rio Grande do Sul,Tramandai,2009,75 to 79,Both,9.007758
252902,Brazil,Santa Catarina,Itajai,2009,80+,Both,7.787663
288317,Brazil,Rio Grande do Sul,Tramandai,2009,15 to 19,Both,4.728934
288314,Brazil,Rio Grande do Sul,Tramandai,2009,10 to 14,Both,2.561429
288311,Brazil,Rio Grande do Sul,Tramandai,2009,5 to 9,Both,2.521263